<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAPF Simulator</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="icon" href="../static/images/icons8-robot-2-30.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid">
      <!-- Hero Section -->
      <div
        class="hero-section d-flex flex-column align-items-center justify-content-center text-center"
        style="height: 100vh; background-color: #f8f9fa; color: #343a40"
      >
        <h1>Welcome to MAPF RoboSim</h1>
        <p>Welcome to the Multi-Agent Pathfinding Simulation System!</p>
        <p>
          Before getting started, we recommend reviewing the usage instructions
          to ensure a smooth experience.
        </p>
        <p>
          When you're ready, click "Continue" to begin your simulation journey!
        </p>
        <div class="container">
            <a class="o-o" href="{{url_for('home')}}">
          <button
            class="btn btn-outline-light button-color mt-3"
          >
            Continue
          </button>
          </a>
          <a class="o-o" href="{{url_for('info')}}" target="_blank" >
          <button class="btn btn-outline-dark mt-3">How it Works!</button>
          </a>
        </div>
      </div>
      <!-- header -->
      <header
        class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom fixed-top bg-light"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
          <img
            src="../static/images/icons8-robot-2-30.png"
            class="bi me-2"
            width="40"
            height="32"
          />
          <span id="headerMain" class="fs-4">RoboSim</span>
        </a>

        <ul class="nav">
          <li class="nav-item">
            <a
              href="{{url_for('main')}}"
              class="nav-link active"
              aria-current="page"
              >Main</a
            >
          </li>
          <li class="nav-item">
            <a href="{{url_for('home')}}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('info')}}" class="nav-link">Instructions</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('about')}}" class="nav-link">About</a>
          </li>
        </ul>
      </header>
    </div>
    <script src="../static/js/script.js"></script>
  </body>
</html>
